@model AtleticaEcoUff.Models.Sport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sport_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sport_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sport_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sport_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sport_awards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sport_awards)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sport_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
