@model IEnumerable<AtleticaEcoUff.Models.Sport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sport_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sport_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sport_awards)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sport_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sport_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sport_awards)
        </td>

        @if (!User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.sport_id })
            </td>

        }
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.sport_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.sport_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.sport_id })
            </td>
        }

    </tr>
}
</table>
