@model IEnumerable<AtleticaEcoUff.Models.Athlete>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sport.sport_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.athlete_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.athlete_age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sport.sport_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.athlete_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.athlete_age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.athlete_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.athlete_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.athlete_id })
        </td>
    </tr>
}

</table>
